@import '../../variables.scss';

$leaf-right-polygon: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 98% 63%, 95% 50%, 75% 29%, 47% 14%, 22% 6%, 0% 2%, 0 0);
$leaf-left-polygon: polygon(0 0, 0 100%, 100% 100%, 100% 90%, 85% 86%, 64% 79%, 45% 70%, 33% 63%, 22% 55%, 11% 44%, 5% 35%, 10px 30%);

.leaf {
  color: $color-text-light;

  a {
    color: $color-text-light;
    text-decoration: underline;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    padding-top: 40px;
    font-family: 'Caveat', 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 700;
  }

  p {
    font-size: 1.35rem;
    padding-top: 20px;
    text-align: justify;
  }

  &-wrapper {
    position: absolute;
    bottom: 140px;
    right: 50%;
    height: 500px;
    width: 700px;
    z-index: 2;

    &_right {
      left: 50%;
    }

    &::before {
      content: "";
      width: 45%;
      height: 100%;
      float: left;
      shape-outside: $leaf-left-polygon;
      clip-path: $leaf-left-polygon;
      shape-margin: 25px;
    }
  }

  height: 100%;
  border-top-left-radius: 1%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 85%;
  border-bottom-right-radius: 1%;

  background: linear-gradient(45deg, $color-accent-mod, $color-accent);

  &::before {
    content: "";
    width: 55%;
    height: 100%;
    float: right;
    shape-outside: $leaf-right-polygon;
    clip-path: $leaf-right-polygon;
    shape-margin: 25px;
  }
}