@import '../../variables.scss';

.navbar {
  z-index: 2;
  font-size: 20px;

  .container {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .nav-link {
    color: $color-text-dark !important;

    &:hover {
      color: $color-accent !important;
    }
  }
}