@import '../../variables.scss';

.section {
  height: 100vh;
  scroll-snap-align: start;

  &-label {
    padding: 0 110px;
    
    &_left {
      text-align: end;
    }
  }

  &-leaf {
    height: 100vh;
    padding: 20% 0;
    position: relative;
  
    // колючка
    &::after {
      content: "";
      position: absolute;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid green; 
      height: 0px;
      width: 0px;
      top: 20%;
      left: calc(50% + 6px);
      transform: skew(10deg, -31deg) rotate(215deg);
      z-index: 0;
    }

    &_right::after {
      top: auto;
      bottom: 15%;
      left: auto;
      right: calc(50% + 6px);
      transform: skew(10deg, -11deg) rotate(285deg) scaleX(-1);
    }
  
    // стебель
    &::before {
      content: "";
      background: $color-accent-mod;
      position: absolute;
      height: 100%;
      width: 76px;
      top: 0;
      left: calc(50% - 38px);
      z-index: 1;
    }
  }
}