@import './variables.scss';
@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  min-width: 300px;
  min-height: 600px;
}

body {
  background-color: $color-body;
  color: $color-text-dark;
  scroll-snap-type: y mandatory;
  
  &.dark-theme {
    background-color: $color-body-dark;
    color: $color-text-light;
  }
}

#root {
  scroll-snap-type: y mandatory;
  overflow: auto;
}