$color-body: #e6e6e6;
$color-body-dark: #1e2225;
$color-header-dark: #343a40;
$color-text-light: #f8f9fa;
$color-text-dark: #333333;
$color-accent: #00c244;
$color-accent-mod: #008b31;
$color-bg-footer: rgb(128, 87, 0);
// $color-accent-mod: #6F8A2A;